/*modal estilos*/
.modal {
    background-color: #00966B;
    height: 500px;
    width: 500px;
    display: none;

}

.modal-abierto {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*-----Validacion formulario------*/
.error {
    color: red;
    margin-left: 15px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-size: 15px;
    font-weight: 700;
}

.invalid {
    border: 2px solid red;
}
