@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


/* estilos de Definir Presupuestos */
/* eliminacion de margenes */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* fondo de la pantalla */
body{
    background-color: rgba(0, 0, 0, 0.309);
    
}

/* css de la card definir presupuesto */
.IngresarPresupuesto{
   width: 380px;
   height: 220px;
   background-color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: auto;
   position: relative;
   top: 60px;
   border-radius: 20px;
   box-shadow: 5px 8px 40px #000;
   font-family: 'Roboto', sans-serif;
}
/* inpunt de card definir presupuesto */
.PresupuestoInpunt{
    margin-top: 30px;
    width: 80%;
    height: 40px;
    border-radius: 19px;
    border: 2px solid #00966B;
    outline: 0px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    
}
/* Btn de Card definir presupuesto */
.BtnGestionar{
    margin-top: 30px;
    width: 80%;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    background: #00966B;
    color: #000;
    font-family: 'Roboto', sans-serif;
}
.BtnGestionar:hover{
    background-color: hsla(162, 56%, 16%, 0.855);
    color: #d4ece5;
}